In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import kwat
import numpy as np
import pandas as pd

In [3]:
pa = "../output/tpm/"

kwat.path.make(pa)

In [4]:
tpm__ = []

for na in kwat.path.list("../output/kallisto/"):

    tpm_ = pd.read_csv(
        "{}/{}".format(na, "abundance.tsv"),
        sep="\t",
        index_col=0,
    )["tpm"]

    tpm_.name = na.split("/")[-1]

    tpm__.append(tpm_)

tpm_enst_sample = pd.concat(tpm__, axis=1)

tpm_enst_sample.index.name = "ENST"

tpm_enst_sample.to_csv("{}tpm_enst_sample.tsv".format(pa), sep="\t")

print(tpm_enst_sample.sum())

tpm_enst_sample

A01    1.000000e+06
A02    1.000000e+06
A03    1.000000e+06
A04    1.000000e+06
A05    1.000000e+06
A06    1.000000e+06
dtype: float64

                   A01  A02       A03       A04       A05  A06
ENST
ENST00000632684.1  0.0  0.0  0.000000  0.000000  0.000000  0.0
ENST00000434970.2  0.0  0.0  0.000000  0.000000  0.000000  0.0
ENST00000448914.1  0.0  0.0  0.000000  0.000000  0.000000  0.0
ENST00000415118.1  0.0  0.0  0.000000  0.000000  0.000000  0.0
ENST00000631435.1  0.0  0.0  0.000000  0.000000  0.000000  0.0
...                ...  ...       ...       ...       ...  ...
ENST00000639790.1  0.0  0.0  0.000000  0.000000  0.000000  0.0
ENST00000639660.1  0.0  0.0  0.000000  0.000000  0.000000  0.0
ENST00000643577.1  0.0  0.0  0.000000  0.000000  0.000000  0.0
ENST00000646356.1  0.0  0.0  0.000000  0.000000  0.000000  0.0
ENST00000645792.1  0.0  0.0  0.033029  0.034314  0.045552  0.0

[187626 rows x 6 columns]

In [ ]:
tpm_enst_sample.index = kwat.gene.rename(tpm_enst_sample.index.values)

tpmsum_gene_sample = (
    tpm_enst_sample.loc[tpm_enst_sample.index.notna()].groupby(level=0).sum()
)

tpmsum_gene_sample.index.name = "Gene"

tpmsum_gene_sample.to_csv("{}tpmsum_gene_sample.tsv".format(pa), sep="\t")

print(tpmsum_gene_sample.sum())

tpmsum_gene_sample

In [ ]:
tpmsum_gene_sample = tpmsum_gene_sample.loc[
    tpmsum_gene_sample.index.intersection(kwat.gene.select()), :
]

tpmsum_gene_sample.to_csv("../output/tpm/tpmsum_geneselected_sample.tsv", "\t")

tpmsum_gene_sample